<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>IMDb List Maker</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/popup.css">
</head>
<body>
<div class="container" ng-controller="ListMakerCtrl as listMakerCtrl">
    <div class="row">
        <div class="col-md-12">
            <h1>IMDb List Maker</h1>
            <p>Creates a list from <a href="" ng-click="listMakerCtrl.openBirthdayLink()">IMDb birthdays</a></p>
            <fieldset>
                <form name="listMakerCtrl.form" ng-submit="listMakerCtrl.submit()">
                    <div class="form-group">
                        <label for="email-template" class="control-label col-sm-2">Email Template</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email-template" ng-model="listMakerCtrl.settings.emailTemplate">
                            <p class="help-block">Use {$name} as part of the template:
                                e.g. {$name}@example.com would be first.last@example.com</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ticket-types" class="control-label col-sm-2">Ticket Types</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ticket-types" ng-model="listMakerCtrl.settings.ticketTypes">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="statuses" class="control-label col-sm-2">Statuses</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="statuses" ng-model="listMakerCtrl.settings.statuses">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="shuffle-first-name" ng-model="listMakerCtrl.settings.shuffleFirst"> Shuffle First Name
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="shuffle-company" ng-model="listMakerCtrl.settings.shuffleCompany"> Shuffle Company
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button ng-click="listMakerCtrl.scrapeAndNextPage()">Scrape List then Next</button>
                            <button ng-click="listMakerCtrl.scrapeAndDownload()">Make List</button>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
</body>
<script src="js/angular.min.js"></script>
<script src="js/popup.js"></script>
</html>